* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; /* 1 rem = 10px*/
  --brand-green: hsl(170, 100%, 26%);
  --gray-headline: hsl(210, 11%, 15%);
  --gray-paragraph: hsl(210, 9%, 31%);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;

  text-align: center;
}

header {
  width: 37.5rem;
  margin: 0 auto;
  margin-top: 4.1rem;
}

h4 {
  font-size: 1.4rem;
  color: var(--brand-green);
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.4rem;
  color: var(--gray-headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.8rem;
  color: var(--gray-paragraph);
  line-height: 150%;
  margin-bottom: 3.2rem;
}

button {
  background-color: var(--brand-green);
  border: none;
  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;
  border-radius: 4rem;

  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  margin-left: auto;
  margin-right: auto;
}
